0 13 * * * AOS_CONFIG={{AOS_CONFIG}} AOS_VAULT={{VAULT}} AOS_NODE={{NODE}} PERSONA_NAME={{AGENT_NAME}} PERSONA_MODEL={{MODEL}} PERSONA_EFFORT={{EFFORT}} PERSONA_LOG_DIR={{LOG_DIR}} /bin/sh {{VAULT}}/brain/scripts/persona/run-duty.sh monitor >> {{LOG_DIR}}/cron-monitor.log 2>&1 # com.agenticos.monitor
0 18 * * 0 AOS_CONFIG={{AOS_CONFIG}} AOS_VAULT={{VAULT}} AOS_NODE={{NODE}} PERSONA_NAME={{AGENT_NAME}} PERSONA_MODEL={{MODEL}} PERSONA_EFFORT={{EFFORT}} PERSONA_LOG_DIR={{LOG_DIR}} /bin/sh {{VAULT}}/brain/scripts/persona/run-duty.sh reflect >> {{LOG_DIR}}/cron-reflect.log 2>&1 # com.agenticos.reflect
45 7 * * 1-5 AOS_CONFIG={{AOS_CONFIG}} AOS_VAULT={{VAULT}} AOS_NODE={{NODE}} PERSONA_NAME={{AGENT_NAME}} PERSONA_MODEL={{MODEL}} PERSONA_EFFORT={{EFFORT}} PERSONA_LOG_DIR={{LOG_DIR}} /bin/sh {{VAULT}}/brain/scripts/persona/run-duty.sh sitrep >> {{LOG_DIR}}/cron-sitrep.log 2>&1 # com.agenticos.sitrep
